.animation {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #222222;
}

.animation .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.animation .frame {
    transform: rotate(45deg);
    width: 100%; /* WIDTH*1.4 */
    height: 100%; /* HEIGHT*1.4 */
    border-color: #768189;
    border-style: solid;
    z-index: 98;
}

.animation .letter {
    color: #f9f9f9;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins Thin";
    z-index: 99;
}