.container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/background_3.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container .title {
    font-size: 116px;
    font-family: "Movie Letters", monospace;
    font-weight: lighter;
    letter-spacing: -1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.container .title .white {
    color: white;
    margin: 0;
}

.container .title .black {
    /*margin-left: -6px;*/
    margin: 0;
    color: black;
}

.menu {
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-size: 32px;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
}

.menu a {
    display: inline-block;
    padding: 0 12px 8px 12px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-top: 0;
    border-bottom: 1px solid;
    border-bottom-color: transparent;
    letter-spacing: 1px;
}

.menu a:hover {
    border-bottom-color: white;
}

@media only screen and (max-width: 450px) {
    .menu a {
        font-size: 0;
        letter-spacing: 0;
    }
    
    .menu a::first-letter {
        font-size: 22px;
    }
}

.lang_menu {
    position: absolute;
    bottom: 12px;
    left: 20px;
    width: 0;
    word-break: break-all;
}

.lang_menu a {
    display: inline-table;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: "Roboto Mono", monospace;
    word-break: keep-all;
    letter-spacing: 1px;
    padding: 6px 0 6px 0;
    border-bottom: solid 1px white;
}

.lang_menu a:last-child {
    border-bottom: none;
}