.container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #222222;
    background: url(../img/background_3.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container .title {
    font-size: 116px;
    font-family: "Movie Letters", monospace;
    font-weight: lighter;
    letter-spacing: -1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.container .title.top {
    transform: translate(-50%, 0%);
    top: 20px;
}

.container .title .white {
    color: white;
    margin: 0;
}

.container .title .black {
    /*margin-left: -6px;*/
    margin: 0;
    color: black;
}

.menu {
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-size: 32px;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: normal;
}

.menu a {
    display: inline-block;
    padding: 0 12px 8px 12px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-top: 0;
    border-bottom: 1px solid;
    border-bottom-color: transparent;
    letter-spacing: 1px;
    transition: 0.3s all ease-out;
}

.menu a:hover {
    border-bottom-color: white;
}

.menu a.active {
    pointer-events: none;
}

.lang_menu {
    opacity: 0;
    position: absolute;
    bottom: 54px;
    left: 20px;
    width: 0;
    word-break: break-all;
    transition: 0.3s all ease-out;
    pointer-events: none;
}

.lang_menu a {
    display: inline-table;
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: "Roboto Mono", monospace;
    word-break: keep-all;
    letter-spacing: 1px;
    padding: 6px 0 6px 0;
    border-bottom: solid 1px white;
}

#lang_control {
    display: none;
}

.lang_active {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-family: "Roboto Mono", monospace;
    word-break: keep-all;
    letter-spacing: 1px;
    position: absolute;
    bottom: 13px;
    left: 20px;
    padding: 6px 0 6px 0;
    cursor: pointer;
}

#lang_control:checked ~ .lang_menu {
    opacity: 1;
    pointer-events: auto;
}

@media only screen and (max-width: 775px) {
    .menu a {
        font-size: 0;
        letter-spacing: 0;
    }
    
    .menu a::first-letter {
        font-size: 18px;
    }
    
    .menu a .last_letter {
        font-size: 18px;
    }
    
    .lang_menu a {
        font-size: 18px;
    }
    
    .lang_active {
        font-size: 18px;
    }
}

.box {
    width: auto;
    height: auto;
    min-height: 100px;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    text-align: center;
    padding: 0 15px 0 15px;
    background: rgba(0, 0, 0, 0.2);
}

.box::before {
    content: "";
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid white;
    position: absolute;
    top: -42px;
    left: 20px;
    transform: skewX(135deg);
    background: rgba(0, 0, 0, 0.2);
}

.box::after {
    content: "";
    display: block;
    width: 40px;
    height: 100%;
    border: 1px solid white;
    position: absolute;
    bottom: 19px;
    right: -42px;
    transform: skewY(135deg);
    background: rgba(0, 0, 0, 0.2);
}

.box .site_title {
    font-size: 24px;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: lighter;
    margin-top: 10px;
}

.box .site_title::after {
    content: "";
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 15%;
    height: 0;
    border-bottom: 1px solid white;
}

.box .site_content {
    font-size: 16px;
    color: white;
    font-family: "Roboto Mono", monospace;
    margin-top: 10px;
    font-weight: normal;
    line-height: 22px;
}

.box .site_content a {
    color: white;
    text-decoration: none;
}

.box .site_content a:hover {
    color: white;
    text-decoration: underline;
}

.box .product {
    text-decoration: none;
}

.box .product div {
    border: solid 1px white;
    padding: 10px 0 0 0;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s all ease-out;
}

.box .product div:hover {
    background: rgba(0, 0, 0, 0.4);
}

.box .product div img {
    width: 60px;
}

.box .product div h1 {
    font-weight: normal;
    font-family: "Roboto Mono", monospace;
    font-size: 22px;
    color: white;
}