@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Thin.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/RobotoMono-Light.ttf");
}

@font-face {
    font-family: "Movie Letters";
    src: url("../fonts/MovLette.ttf");
}