section .container {
    font-family: "Poppins", monospace;
    display: inline-block;
}

section .container * {
    white-space: nowrap;
}

section .container h1 {
    color: #fefefe;
    font-size: 28px;
    font-weight: lighter;
}

section .container p {
    font-size: 17px;
    color: #a9a9a9;
    line-height: 28px;
}

section .container p.thin {
    display: none;
}

section .container .flat-button {
    margin-top: 20px;
}

section .container .flat-button-transparent {
    color: #486171;
    margin-left: 20px;
}

.side-img {
    width: 275px;
    z-index: 2;
    position: absolute;
    right: 140px;
    top: 50%;
    transform: translateY(-50%);
}