@media only screen and (max-width: 1050px) {
    .side-img {
        display: none;
    }

    section {
        margin: 0 auto;
        text-align: center;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}