@media only screen and (max-width: 650px) {
    header .logo {
        margin-left: 25px !important;
    }

    header .navigation {
        display: none;
    }

    header .nav_control {
        display: inline-block;
    }

    section {
        top: calc(50% + 20px);
    }

    section .container h1 {
        font-size: 24px;
    }

    section .container p.wide {
        display: none;
    }

    section .container p.thin {
        display: block;
    }
}