.button-menu {
    display: none;
    position: absolute;
    right: 22px;
    top: 19px;
    height: 32px;
    width: 32px;
    float: right;
    cursor: pointer;
    z-index: 2;
    background: transparent;
    border: none;
    outline: none;
}

.button-menu span {
    position: absolute;
    right: 0;
    width: 32px;
    height: 2px;
    background: #f6f6f6;
    transition: 0.5s all ease-in-out;
}

.button-menu.active span {
    transition: 0.5s all ease-in-out;
}

.button-menu.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 15px;
}

.button-menu.active span:nth-child(2) {
    opacity: 0;
}

.button-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 15px;
}

.button-menu span:nth-child(1) {
    top: 3px;
}

.button-menu span:nth-child(2) {
    top: 15px;
}

.button-menu span:nth-child(3) {
    bottom: 3px;
}

@media only screen and (min-width: 900px) {
    .logo {
        height: 97px;
    }

    .outline-logo {
        padding: 46px 78px;
    }

    .menu a {
        margin: 20px 0;
        display: block;
    }

    .menu .side {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .menu .side:first-child {
        left: 31px;
    }

    .menu .side:last-child {
        right: 31px;
        text-align: right;
    }

    .menu .side a::before {
        content: "";
        display: block;
        width: 2px;
        height: 35px;
        position: absolute;
        margin-top: 1px;
        background: white;
    }

    .menu .side a::after {
        content: "";
        display: block;
        width: 12px;
        height: 31px;
        position: absolute;
        margin-top: 1px;
        border-bottom: solid 2px white;
        border-top: solid 2px white;
        opacity: 0;
        transition: 0.2s all ease-in-out;
    }

    .menu .side:first-child a::before {
        left: -13px;
    }

    .menu .side:last-child a::before {
        right: -13px;
    }

    .menu .side:first-child a::after {
        left: -13px;
        margin-top: -31px;
    }

    .menu .side:last-child a::after {
        right: -13px;
        margin-top: -31px;
    }

    .menu .side a:hover::after {
        opacity: 1;
    }
}

@media only screen and (max-width: 900px) {
    .logo {
        height: 57px;
    }

    .outline-logo {
        padding: 27px 45px;
    }

    .menu .side {
        position: absolute;
        left: calc(50% + 21px);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        white-space: pre-line;
    }

    .menu a {
        display: inline-flex;
        margin: 10px 0;
        white-space: nowrap;
    }

    .menu a::before {
        content: "";
        display: block;
        width: 28px;
        height: 1px;
        background: white;
        margin: 18px 10px -18px -42px;
    }

    .menu a::after {
        content: "";
        display: inline-block;
        width: 28px;
        height: 1px;
        background: white;
        float: right;
        margin-top: 18px;
        margin-left: 14px;
    }

    .menu .side:first-child {
        top: 28px;
        text-align: center;
    }

    .menu .side:last-child {
        bottom: 40px;
        text-align: center;
    }
}

@media only screen and (max-width: 900px) and (max-height: 450px) {
    .button-menu {
        display: inline-block;
    }

    .menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s all ease-in-out;
        text-align: center;
    }

    .menu .side {
        margin: 0;
        padding: 0;
        -webkit-transform: none;
        transform: none;
        position: relative;
        left: unset;
        top: unset;
    }

    .menu .side:first-child {
        bottom: 20px;
        top: unset;
    }

    .menu .side:last-child {
        top: -35px;
        bottom: unset;
    }

    .menu .side a::before, .menu .side a::after {
        display: none;
    }
}

.outline-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 3px white solid;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.menu a {
    font-family: "Roboto Mono", monospace;
    font-weight: 200;
    color: white;
    font-size: 24px;
    text-decoration: none;
}