header {
    width: 100%;
    height: 60px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

header .logo {
    margin: 0 0 0 20px;
    padding: 0;
}

header .logo * {
    margin: 0;
    display: inline-block;
    font-family: "Comfortaa";
    font-weight: lighter;
    line-height: 60px;
}

header .logo *:nth-of-type(1) {
    color: #f6f6f6;
}

header .logo *:nth-of-type(2) {
    color: #99aab5;
    margin: 0 3px;
}

header .logo *:nth-of-type(3) {
    color: #6b8291;
}

header nav {
    text-align: right;
    white-space: nowrap;
    float: right;
    margin: 0 10px;
}

header nav * {
    margin: 0 10px;
    display: inline-block;
    color: #f6f6f6;
    font-family: "Comfortaa", monospace;
    font-weight: lighter;
    line-height: 60px;
    font-size: 20px;
}

header .flag {
    margin: 18px 15px 0 15px;
    height: 16px;
    width: 22px;
    float: right;
    line-height: 60px;
}